# --- For-Bot-Working --------- #
pyrogram==2.0.89
TgCrypto
pyromod==1.5
schedule
APscheduler
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv

